* {
	font-family: 'Overpass', sans-serif;
}

.navbar .nav-link {
    /* setting non-active navbar items */
	font-weight: 200;
    color: rgb(100, 100, 100);
}

.navbar .nav-item.active .nav-link, .nav-item:hover .nav-link, h4 .nav-link, h4 , .navbar .navbar-brand, .navbar-brand:hover{
	color: white;
}

.unsaveable {
    /* doesn't allow saving images */
    pointer-events: none;
}